
html{
    font-size: 62.5%;
    overflow-y: hidden;
}

.container{
    background-color: #fff;
    height: 100vh;
    position: relative;
}

.navigation__bg{
    height: 6rem;
    width: 6rem;
    background: radial-gradient(#000046, #1CB5E0);
    border-radius: 50%;
    position: absolute;
    top: 6.5rem;
    right: 6.5rem;
    z-index: 100;
}

.navigation__button{
    height: 7rem;
    width: 7rem;
    background-image: linear-gradient(45deg, #ff00aa, #92eaff);
    border-radius: 50%;
    position: absolute;
    top: 6rem;
    right: 6rem;
    z-index: 200;
    text-align: center;
}

.navigation__checkbox{
    display: none;
    transition: all .2s;
}

.navigation__nav{
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 150;
    opacity: 0;
    width: 0;
    transition: all .5s ease;
}

.navigation__list{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%;
}

.navigation__link:link, .navigation__link:visited{
    font-size: 3rem;
    padding: 2rem 3rem;
    display: inline-block;
    font-weight: 500;
    color: #a11ec6;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, 
    #1CB5E0 50%);
    background-size: 250%;
    transition: all .3s;
}

.navigation__link:hover, .navigation__link:active{
    background-position: 100%;
    color: white;
    transform: translateX(1px)
}

.navigation__checkbox:checked ~ .navigation__bg{
    transform: scale(80);
}

.navigation__checkbox:checked ~ .navigation__nav{
    opacity: 1;
    width: 100%;
}

.navigation__icon{
    position: relative;
    margin-top: 3.5rem;
    transition: all .3s;
}

.navigation__icon, .navigation__icon::before, .navigation__icon::after{
    width: 3rem;
    height: 1.5px;
    background-color: white;
    display: inline-block;
}
.navigation__icon::before, .navigation__icon::after{
    content: "";
    position: absolute;
    left: 0;
}

.navigation__icon::before{
    top: -1rem;
}

.navigation__icon::after{
    top: 1rem;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon{
    background-color: transparent;
}


.navigation__checkbox:checked + .navigation__button .navigation__icon::before{
    transform: rotate(135deg);
    top: 0;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::after{
    transform: rotate(45deg);
    top: 0;
}

.hero{
    position: absolute;
    max-width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading{
    font-size: 4rem;
    margin-top: 5rem;
    text-transform: uppercase;
    display: inline-block;
    background-image: linear-gradient(45deg, #ff00aa, #92eaff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}