/*    Basic styling     */
.form, .img {
  width: 50%;
  margin: 3% 25%;
  border-style: dotted;
  padding: 1% 3%;
}

h3{
  text-align: center;
  text-decoration: underline;
}

input, label{
  padding: 8px;
  margin: 8px 0;
}

label::before, input::after {
  content: "\A";
  white-space: pre;
}

button{
  text-align: center;
  padding: 3px;
  margin: 3% 3% 3% 0;
}
