*{
	margin: 0;
	padding: 0;
}

body{
	background: #202020;
	color: #eee;
	font-family: 'monospace';
	line-height: 1.4em; 
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding: 15px;
}

#title{
	font-size: calc(20px + 2vw + 1vh);
	padding: 40px;
}

#chat-box{
	border: 2px solid #ccc;
	border-radius: 10px;
	box-shadow: 3px 4px 4px #111;
}

@media only screen and (max-width: 600px){
	#chat-box{
		width: 95vw;
	}
}

@media only screen and (min-width: 600px){
	#chat-box{
		width: 80vw;
	}
}


#message-box{
	width: 100%;
	height: 60vh;
	background: #444;
	overflow-y: scroll;
	padding: 5px;
	font-size: calc(10px + 1vh + 2vw);
}

#message-box p{
	width: 100%;
	line-height: 1.5em;
	overflow-wrap: break-word;
	padding: 5px 2px;
	margin: 2px 0;
	background: #4f4f4f;
}
#message-box span{
	color: yellow;
	font-weight: 900;
}

#input-box{
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 90% 10%;
}

#message-input{
	height: 90%;
	font-size: calc(10px + 1vh + 2vw);
	border-radius: 0 0 0 6px;
}

#send-button{
	background: purple;
	color: #f0f0a0;
	height: 100%;
	font-size: calc(10px + 1vh);
	font-weight: 900;
}
#nickname-box{
	padding: 15px;
}
#nickname-input {
	border-radius: 5px;
	background: purple;
	color: white;
	padding: 2px;
	font-size: calc(10px + 1vh + 1vw);
}
#nickname-label{
	font-size: calc(10px + 1vh + 1vw);

}
