#borderanim {
    
    width: 10px;
    height: 10px;
    background-color: rgb(16, 122, 6);
    position: relative;
    -webkit-animation-name: example1; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: example1;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    
    
  }
  
  /* Safari 4.0 - 8.0 */
  @-webkit-keyframes example1 {
    0%   {background-color:green; left:0px; top:0px;}
    25%  {background-color:green; left:100%; top:0px; }
    50%  {background-color:green; left:100%; top:200px; }
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:green; left:0px; top:0px;}
  }
  
  /* Standard syntax */
  @keyframes example1 {
    0%   {background-color:green; left:0%; top:2vh;}
    25%  {background-color:green; left:99%; top:2vh;}
    50%  {background-color:green; left:99%; top:95vh;}
    75%  {background-color:green; left:0%; top:95vh;}
    100% {background-color:green; left:0%; top:2vh;}
  }