body, h1,h2,h3,h4,h5,h6 {    font-family: Hacked, sans-serif; margin-bottom: 0px; margin-top: 0px ; overflow-y: hidden;   }
  .w3-row-padding img {margin-bottom: 12px}
  /* Set the width of the sidebar to 120px */
  .w3-sidebar {width: 120px;background: #222;}
  /* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
  #main {margin-left: 0px}
  /* Remove margins from "page content" on small screens */
  @media only screen and (max-width: 600px) {
    #main {
      margin-left: 0
    }
  
  }

  @media only screen and (min-width: 600px) {
    
  }

  #welcome{
    float: right;
    font-size: 150%;
    margin-bottom: 0%;
  }

  

 /* .gsign{
    margin-top: 0.5% ;
  }  */

  @font-face {
    font-family: Hacked;
    src: url(https://hackedfont.com/HACKED.ttf);
}

#timerhead{
  margin-bottom: 0%;
  transform: translateY(-10%);
}

#timer {
  text-align: center;
  font-size: 150%;
  margin-top: 0.5%;
  margin-bottom: 2%;
  color: aliceblue;
  
}

#next{
  font-size: 200%;
  height: 150%;
  width: 30%;  
}
#en{
  margin-top: 0px;
  transform: translateY(-25%);
}